<h2>All Historical Landmarks</h2>

<ol>
<% @landmarks.each do |landmark| %>
<a href="/landmarks/<%=landmark.id%>">
    <li>
        <%= landmark.name %>
    </li>
</a>
<% end %>
</ol>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
