<form action="/figures/<%=@figure.id%>" method="post">
<input type="hidden" name="_method" value="patch">
<label> Figure: </label>
<input type="text" name="name" value="<%= @figure.name %>"/>
<input type="submit"/>
</form>