<h4> Figure: </h4>
<h5><%=@figure.name %> </h5>




<form action="/figures/<%=@figure.id%>" method="post">
<input type="hidden" name="_method" value="delete"/>
<input type="submit" value="Delete Figure"/>
</form>

<a href="/figures/<%=@figure.id%>/edit">
<button>Edit Figure</button>
</a>

<a href="/figures">
<button>All Figures</button>
</a>